@import "tailwindcss";


@layer base {
    @font-face {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 100 900;
        font-display: swap;
        src: url('/fonts/Manrope/Manrope-VariableFont_wght.ttf') format('truetype-variations');
    }
}



@theme static{

    --color-*: initial;

    --font-sans: "Manrope", "sans-serif";
    --color-white: #fff;
    --color-accent: #FF6A00;
    --color-background:  #F5F5F5;
    --color-background-cards:  #F0F0F0;
    --color-separators:  #E1E1E1;
    --color-secondary: #848484;
    --color-main:  #101010;
    --color-error:  #ED0000;

}



@layer utilities {
    /* Изображения*/
    .bg-hero{
        background: url("/hero/hero.webp") no-repeat center;
        background-size: cover;
    }
    .bg-services{
        background: url("/services/bg.webp") no-repeat center;
        background-size: cover;
    }
    .bg-hvof{
        background: url("/types/hvoaf/hero.webp");
        background-size: cover;
        height: 20% !important;
    }

    .bg-wear-resistant{
        background: url("/coverages/wear-resistant/hero.webp") no-repeat center;
        background-size: cover;
        height: 20% !important;
    }
    .bg-avia{
        background: url("/applications/avia.png") no-repeat center;
        background-size: cover;
        height: 20% !important;
    }
    .bg-pumping{
        background: url("/applications/pumping.png") no-repeat center;
        background-size: cover;
        height: 20% !important;
    }

    .bg-industrial{
        background: url("/applications/industrial.png") no-repeat center;
        background-size: cover;
        height: 20% !important;
    }
    .bg-defense{
        background: url("/applications/defense.png") no-repeat center;
        background-size: cover;
        height: 20% !important;
    }
    .bg-oilgas{
        background: url("/applications/oilgas.png") no-repeat center;
        background-size: cover;
        height: 20% !important;
    }
    .bg-plastics{
        background: url("/applications/plastics.png") no-repeat center;
        background-size: cover;
        height: 20% !important;
    }
    .bg-energy{
             background: url("/applications/energy.png") no-repeat center;
             background-size: cover;
             height: 20% !important;
     }
    .bg-paper{
             background: url("/applications/paper.png") no-repeat center;
             background-size: cover;
             height: 20% !important;
     }
    /* Главные заголовки */
    .display-text {
        @apply sm:text-7xl/[63px] text-5xl/[60px] font-extrabold;
    }
    .display-number {
        @apply text-8xl/[115px] font-semibold;
    }

    .header-underline{
        @apply border-b-2 border-separators pb-2;
    }

    /* Заголовки */
    .header-1 {
        @apply sm:text-[64px]/[76px] text-5xl/[60px] font-bold;
    }
    .header-2 {
        @apply sm:text-[52px]/[60px] text-[40px]/[50px] font-bold;
    }
    .header-3 {
        @apply text-[48px]/[63px] font-bold;
    }
    .header-4 {
        @apply text-[40px]/[63px] font-bold;
    }

    /* Основной */
    .big-text {
        @apply sm:text-2xl/[36px] text-xl/[30px] font-medium;
    }


    .regular-text {
        @apply text-lg/[28px];
    }
    .small-text {
        @apply text-sm/[18px];
    }

    .link-text {
        @apply text-xl  underline underline-offset-4;
       color: var(--color-secondary);
    }
}