@import "tailwindcss";


@layer base {
    @font-face {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 100 900;
        font-display: swap;
        src: url('/fonts/Manrope/Manrope-VariableFont_wght.ttf') format('truetype-variations');
    }
}



@theme static{

    --color-*: initial;

    --font-sans: "Manrope", "sans-serif";
    --color-white: #fff;
    --color-accent: #FF6A00;
    --color-background:  #F5F5F5;
    --color-background-cards:  #F0F0F0;
    --color-separators:  #E1E1E1;
    --color-secondary: #848484;
    --color-main:  #101010;
    --color-error:  #ED0000;

}



@layer utilities {
    /* Изображения*/
    .bg-hero{
        background: url("/hero/hero.webp") no-repeat center;
        background-size: cover;
    }
    .bg-services{
        background: url("/services/bg.webp") no-repeat center;
        background-size: cover;
    }
    .bg-hvof{
        background: url("/hvof/hero.webp");
        background-size: cover;
        height: 20% !important;
    }


    /* Главные заголовки */
    .display-text {
        @apply text-7xl/[63px] font-extrabold;
    }
    .display-number {
        @apply text-8xl/[115px] font-semibold;
    }

    /* Заголовки */
    .header-1 {
        @apply text-[64px]/[76px] font-bold;
    }
    .header-2 {
        @apply text-[52px]/[60px] font-bold;
    }
    .header-3 {
        @apply text-[48px]/[63px] font-bold;
    }
    .header-4 {
        @apply text-[40]/[63px] font-bold;
    }

    /* Основной */
    .big-text {
        @apply text-2xl/[36px] font-medium;
    }


    .regular-text {
        @apply text-xl/[28px];
    }
    .small-text {
        @apply text-sm/[18px];
    }

    .link-text {
        @apply text-xl  underline underline-offset-4;
       color: var(--color-secondary);
    }
}